<!doctype html>
<html>
  <head> 
    <title>Halea</title>
    <script src="/assets/app.js"></script>
    <link rel="stylesheet" media="all" href="/assets/app.css">
  </head>
  <body>
    <div id="main">
      <h1>Loading</h1>
    </div>
  </body>
</html>